<div layout="row" layout-align="center center" style="padding-top:50px;">
    <div layout="column" layout-align="center center" ng-if="isLoading" style="width:150px;height:150px;">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div class="profile-info-bar" layout="column" flex="40" ng-if="!isLoading">
        <div flex="25"></div>
        <div layout="column" layout-align="center center">
            <img class="profile-image" ng-src="{{userInfo.User.ProfileImageUri}}" alt="profile" style="width:150px;height:150px;border-radius: 90px 90px 90px 90px;"
            />
        </div>
        <div class="user-info-bar" layout="column" layout-align="stretch stretch" md-whiteframe="10">
            <div layout="row" layout-align="stretch stretch" flex="40">
                <div layout="row" layout-align="end start" flex>
                    <md-button class="md-raised" md-colors="{background: 'green'}" ng-click="">FOLLOWING</md-button>
                </div>
            </div>
            <div layout="row" layout-align="center center" flex="25">
                <h1 class="md-headline">{{userInfo.User.Username}}</h1>
            </div>
            <div layout="row" layout-align="space-around center" flex="20">
                <div layout="column" layout-align="center center">
                    <span>POSTS</span>
                    <span class="md-title">{{userInfo.Counters.Posts}}</span>
                </div>
                <div layout="column" layout-align="center center">
                    <span>FOLLOWERS</span>
                    <span class="md-title">{{userInfo.Counters.Followers}}</span>
                </div>
                <div layout="column" layout-align="center center">
                    <span>FOLLOWS</span>
                    <span class="md-title">{{userInfo.Counters.Follows}}</span>
                </div>
            </div>
        </div>
    </div>
</div>