<div layout="column" layout-align="start center" style="margin: 50px 0px 50px 0px;">
    <div layout="column" style="background: white;width:1000px; padding: 25px;" md-whiteframe="1">
        <div style="margin-top: 15px;">
            <div md-colors="{background : 'warn'}" style="color:white;padding: 20px 0px 20px 20px;" ng-if="vm.isRedirected" md-whiteframe="3">
                <div layout="row" layout-align="space-between center">
                    <span class="md-headline">ATTENTION</span>
                    <md-button class="md-icon-button" ng-click="vm.closeInfo()">
                        <md-icon style="color:white;">clear</md-icon>
                    </md-button>
                </div>
                <span class="md-subhead">You need to activate your account to discover people and their posts</span>
            </div>
        </div>
        <div style="margin-top: 10px;">
            <span class="md-display-1">Edit Profile</span>
            <md-divider class="title-divider"></md-divider>
            <div layout="row">
                <div md-colors="{background: 'blue' }" style="background:red;width: 2px;" ng-if="vm.pendingChanges.profile"></div>
                <div layout="column" flex>
                    <div layout="row" layout-align="start center" style="padding-left: 10px;">
                        <div layout="row" layout-align="center center" style="cursor: pointer;">
                            <img class="user-bar-image" ng-src="{{vm.settings.imageUri}}" alt="profile" />
                            <div style="position:absolute;padding: 0px 20px 20px 0px;">
                                <md-icon style="font-size: 44px;">add_a_photo</md-icon>
                            </div>
                            <md-tooltip md-direction="bottom">
                                Click to upload new profile picture
                            </md-tooltip>
                        </div>
                        <div layout="column" layout-align="start start" style="margin-top: 50px;">
                            <div style="margin-left: 25px;" flex>
                                <md-input-container class="md-block text-block" md-no-float>
                                    <input name="editFullNameBox" class="md-display-1" style="font-weight: lighter;border-color: white;" type="text" ng-model="vm.settings.fullName" ng-change="vm.profileChanged()" aria-label="Full Name" autocomplete="off" flex>
                                </md-input-container>
                            </div>
                            <div layout="row" layout-align="center center" style="margin-left: 10px;color:grey;">
                                <span class="md-headline" style="font-weight: lighter;">@</span>
                                <md-input-container class="md-block text-block" md-no-float>
                                    <input name="editNameBox" class="md-headline" style="font-weight: lighter;border-color: white;color:grey;" type="text" ng-model="vm.settings.username" ng-change="vm.profileChanged()" aria-label="Full Name" autocomplete="off" />
                                </md-input-container>
                            </div>
                            <div layout="row" layout-align="center center">
                                <md-input-container class="md-block text-block" md-no-float>
                                    <input name="editBioBox" class="md-subtitle" style="width:500px;font-weight: lighter;border-color: white;color:grey;" type="text" ng-model="vm.settings.bio" ng-change="vm.profileChanged()" aria-label="Full Name" autocomplete="off" flex/>
                            </div>
                        </div>
                    </div>
                    <div layout="column" layout-align="center center" style="margin-top: 15px;">
                        <span style="color:red;">{{vm.profileSaveError}}</span>
                        <div layout="row" layout-align="center center" style="margin-top: 20px;" ng-if="vm.pendingChanges.profile" flex>
                            <md-button class="md-raised" md-colors="{background : 'blue'}" ng-click="vm.updateProfile()" style="width: 200px;">Save Changes</md-button>
                            <md-button class="md-raised" ng-click="vm.resetProfileChanges()">Cancel</md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 50px;">
            <div>
                <span class="md-display-1">Change Password</span>
                <md-divider style="margin: 10px 0px 10px 0px;"></md-divider>
            </div>

            <div layout="row">
                <div md-colors="{background: 'blue' }" style="background:red;width: 2px;" ng-if="vm.pendingChanges.password"></div>
                <div layout="column" style="padding: 25px 0px 0px 10px;" flex>
                    <div flex>
                        <md-input-container class="md-block">
                            <label>Old Password</label>
                            <input type="password" ng-change="vm.passwordChanged()" ng-model="vm.password.oldPassword" flex/>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="md-block">
                            <label>New Password</label>
                            <input type="password" ng-change="vm.passwordChanged()" ng-model="vm.password.newPassword" flex/>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="md-block">
                            <label>Confirm Password</label>
                            <input type="password" ng-change="vm.passwordChanged()" ng-model="vm.password.confirmPassword" flex/>
                        </md-input-container>
                    </div>
                    <div layout="column" layout-align="center center" style="margin-top: 15px;">
                        <span style="color:red;">{{vm.passwordChangeError}}</span>
                        <div layout="row" layout-align="center center" style="margin-top: 20px;" ng-if="vm.pendingChanges.password" flex>
                            <md-button class="md-raised" md-colors="{background: 'blue'}" style="width: 200px;" ng-click="vm.changePassword()">Update password</md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div style="margin-top: 50px;">
            <div>
                <span class="md-display-1">Privacy</span>
                <md-divider style="margin: 10px 0px 10px 0px;"></md-divider>
            </div>
            <div layout="row">
                <div md-colors="{background: 'blue' }" style="background:red;width: 2px;" ng-if="vm.pendingChanges.isPrivate"></div>
                <div layout="column" flex>
                    <div layout="column" style="padding: 25px 0px 0px 10px;" flex>
                        <md-switch ng-change="privacyChanged()" ng-model="vm.settings.isPrivate" aria-label="Is Private">
                            Is Private {{pendingChanges.isPrivate}}
                        </md-switch>
                    </div>
                    <div layout="column" layout-align="center center" ng-if="vm.pendingChanges.isPrivate">
                        <md-button class="md-raised" md-colors="{background: 'blue'}" ng-click="vm.savePrivacy()" style="width: 200px;">Save changes</md-button>
                    </div>
                </div>
            </div>
        </div>


        <div style="margin-top: 50px;">
            <div>
                <span class="md-display-1">Account</span>
                <md-divider style="margin: 10px 0px 10px 0px;"></md-divider>
            </div>
            <div layout="row">
                <div md-colors="{background: 'red' }" style="background:red;width: 2px;" ng-if="!vm.settings.isActive"></div>
                <div layout="row" layout-align="center center" style="padding: 25px 0px 0px 10px;" flex>
                    <md-button class="md-raised" md-colors="{background : '{{vm.settings.isActive | buttonStatusColor}}'}" ng-click="vm.invertAccountStatus()" style="width: 200px;">{{settings.isActive | accountActionStatus}} account</md-button>
                </div>
            </div>
        </div>
    </div>
</div>