<div layout="column" layout-align="start center" style="margin: 50px 0px 50px 0px;">
    <div layout="column" style="background: white;width:1000px; padding: 25px;" md-whiteframe="1">
        <div style="margin-top: 15px;">
            <div md-colors="{background : 'warn'}" style="color:white;padding: 20px 0px 20px 20px;" ng-if="isRedirected" md-whiteframe="3">
                <div layout="row" layout-align="space-between center">
                    <span class="md-headline">ATTENTION</span>
                    <md-button class="md-icon-button" ng-click="closeInfo()">
                        <md-icon style="color:white;">clear</md-icon>
                    </md-button>
                </div>
                <span class="md-subhead">You need to activate your account to discover people and their posts</span>
            </div>
        </div>
        <div style="margin-top: 10px;">
            <span class="md-display-1">Edit Profile</span>
            <md-divider class="title-divider"></md-divider>
            <div layout="row">
                <div md-colors="{background: 'blue' }" style="background:red;width: 2px;" ng-if="pendingChanges.profile"></div>
                <div layout="column" flex>
                    <div layout="row" layout-align="start center" style="padding-left: 10px;">
                        <div layout="row" layout-align="center center" style="cursor: pointer;">
                            <img class="user-bar-image" ng-src="{{settings.imageUri}}" alt="profile" />
                            <div style="position:absolute;padding: 0px 20px 20px 0px;">
                                <md-icon style="font-size: 44px;">add_a_photo</md-icon>
                            </div>
                            <md-tooltip md-direction="bottom">
                                Click to upload new profile picture
                            </md-tooltip>
                        </div>
                        <div layout="column" layout-align="start start" style="margin-top: 50px;">
                            <div style="margin-left: 25px;" flex>
                                <!--<span class="md-display-1" style="font-weight: lighter;">{{settings.fullName}}</span>-->
                                <md-input-container class="md-block text-block" md-no-float>
                                    <input name="editFullNameBox" class="md-display-1" style="font-weight: lighter;border-color: white;" type="text" ng-model="settings.fullName"
                                        ng-change="profileChanged()" aria-label="Full Name" autocomplete="off" flex>
                                </md-input-container>
                            </div>
                            <div layout="row" layout-align="center center" style="margin-left: 10px;color:grey;">
                                <!--<span class="md-headline" style="font-weight: lighter;">@{{settings.username}}</span>-->
                                <span class="md-headline" style="font-weight: lighter;">@</span>
                                <md-input-container class="md-block text-block" md-no-float>
                                    <input name="editNameBox" class="md-headline" style="font-weight: lighter;border-color: white;color:grey;" type="text" ng-model="settings.username"
                                        ng-change="profileChanged()" aria-label="Full Name" autocomplete="off" />
                                </md-input-container>
                            </div>
                            <div layout="row" layout-align="center center">
                                <!--<span class="md-subtitle" style="font-weight: lighter;color:grey;">{{settings.bio}}</span>-->
                                <md-input-container class="md-block text-block" md-no-float>
                                    <input name="editBioBox" class="md-subtitle" style="width:500px;font-weight: lighter;border-color: white;color:grey;" type="text"
                                        ng-model="settings.bio" ng-change="profileChanged()" aria-label="Full Name" autocomplete="off"
                                        flex/>
                            </div>
                        </div>
                    </div>
                    <div layout="column" layout-align="center center" style="margin-top: 15px;">
                        <span style="color:red;">{{profileSaveError}}</span>
                        <div layout="row" layout-align="center center" style="margin-top: 20px;" ng-if="pendingChanges.profile" flex>
                            <md-button class="md-raised" md-colors="{background : 'blue'}" ng-click="updateProfile()" style="width: 200px;">Save Changes</md-button>
                            <md-button class="md-raised" ng-click="resetProfileChanges()">Cancel</md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 50px;">
            <div>
                <span class="md-display-1">Change Password</span>
                <md-divider style="margin: 10px 0px 10px 0px;"></md-divider>
            </div>

            <div layout="row">
                <div md-colors="{background: 'blue' }" style="background:red;width: 2px;" ng-if="pendingChanges.password"></div>
                <div layout="column" style="padding: 25px 0px 0px 10px;" flex>
                    <div flex>
                        <md-input-container class="md-block">
                            <label>Old Password</label>
                            <input type="password" ng-change="passwordChanged()" ng-model="password.oldPassword" flex/>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="md-block">
                            <label>New Password</label>
                            <input type="password" ng-change="passwordChanged()" ng-model="password.newPassword" flex/>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="md-block">
                            <label>Confirm Password</label>
                            <input type="password" ng-change="passwordChanged()" ng-model="password.confirmPassword" flex/>
                        </md-input-container>
                    </div>
                    <div layout="column" layout-align="center center" style="margin-top: 15px;">
                        <span style="color:red;">{{passwordChangeError}}</span>
                        <div layout="row" layout-align="center center" style="margin-top: 20px;" ng-if="pendingChanges.password" flex>
                            <md-button class="md-raised" md-colors="{background: 'blue'}" style="width: 200px;" ng-click="changePassword()">Update password</md-button>
                            <!--<md-button class="md-raised" ng-click="resetProfileChanges()">Cancel</md-button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div style="margin-top: 50px;">
            <div>
                <span class="md-display-1">Privacy</span>
                <md-divider style="margin: 10px 0px 10px 0px;"></md-divider>
            </div>
            <div layout="row">
                <div md-colors="{background: 'blue' }" style="background:red;width: 2px;" ng-if="pendingChanges.isPrivate"></div>
                <div layout="column" flex>
                    <div layout="column" style="padding: 25px 0px 0px 10px;" flex>
                        <md-switch ng-change="privacyChanged()" ng-model="settings.isPrivate" aria-label="Is Private">
                            Is Private {{pendingChanges.isPrivate}}
                        </md-switch>
                    </div>
                    <div layout="column" layout-align="center center" ng-if="pendingChanges.isPrivate">
                        <md-button class="md-raised" md-colors="{background: 'blue'}" ng-click="savePrivacy()" style="width: 200px;">Save changes</md-button>
                    </div>
                </div>
            </div>
        </div>


        <div style="margin-top: 50px;">
            <div>
                <span class="md-display-1">Account</span>
                <md-divider style="margin: 10px 0px 10px 0px;"></md-divider>
            </div>
            <div layout="row">
                <div md-colors="{background: 'red' }" style="background:red;width: 2px;" ng-if="!settings.isActive"></div>
                <div layout="row" layout-align="center center" style="padding: 25px 0px 0px 10px;" flex>
                    <md-button class="md-raised" md-colors="{background : '{{settings.isActive | buttonStatusColor}}'}" ng-click="invertAccountStatus()"
                        style="width: 200px;">{{settings.isActive | accountActionStatus}} account</md-button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div layout="column" layout-align="start center" style="padding-top: 25px;" ng-if="!isLoading">
    <div class="authentication-error" ng-if="isRedirected">
        <div layout="row" layout-align="space-between center">
            <p class="md-subhead" style="font-weight: bold;">Account has been deactivated.
            </p>
            <md-button class="md-icon-button" ng-click="closeInfo()">
                <md-icon>clear</md-icon>
            </md-button>
        </div>
        <p>Please, activate your account to discover people and their posts</p>
    </div>
    <div layout="row" layout-align="center center" style="cursor: pointer;">
        <img class="user-bar-image" ng-src="{{settings.imageUri}}" alt="profile" />
        <div style="position:absolute;padding: 0px 20px 20px 0px;">
            <md-icon style="font-size: 44px;">add_a_photo</md-icon>
        </div>
        <md-tooltip md-direction="left">
            Click to upload new profile picture
        </md-tooltip>
    </div>
    <div layout="row" layout-align="center center" style="height: 100px;">
        <span class="md-display-1" style="font-weight: lighter;">{{settingsBackup.username}}</span>
    </div>
    <div layout="column" style="width: 500px;">
        <div layout="row" layout-align="space-between center">
            <div flex>
                <label>Username</label>
                <md-input-container class="md-block input-box" md-no-float>
                    <input class="text-area" name="username" placeholder="New username" ng-change="settingsChanged()" ng-model="settings.username"
                        required style="border: 1px solid #dbdbdb;" />
                </md-input-container>
            </div>
        </div>
        <div layout="row" layout-align="space-between center">
            <div flex>
                <md-input-container class="md-block input-box" md-no-float>
                    <input class="text-area" name="username" placeholder="New password" ng-model="settings.password" required style="border: 1px solid #dbdbdb;"
                    />
                </md-input-container>
                <md-button flex>Change Password</md-button>
            </div>
        </div>
        <div layout="row" layout-align="space-between center">
            <div flex="25">
                <span>Privacy</span>
            </div>
            <div style="padding-left: 3px;" flex>
                <md-checkbox ng-change="settingsChanged()" ng-model="settings.isPrivate" aria-label="Is Private">
                    Is private
                </md-checkbox>
            </div>
        </div>
        <div layout="row" layout-align="space-between center">
            <div flex="25">
                <span>Account</span>
            </div>
            <div layout="row" layout-align="start center" flex>
                <md-button md-colors="{background : 'red'}" ng-click="invertAccountStatus()">{{accountActionName}}</md-button>
            </div>
        </div>
        <div style="padding: 25px 0px 25px 0px;">
            <md-divider></md-divider>
        </div>
        <div layout="row" layout-align="center center" style="padding-bottom: 25px;">
            <md-button md-colors="{background : '{{pendingChanges | buttonStatusColor}}'}" ng-click="saveAccountSettings()" ng-disabled="!pendingChanges">SAVE SETTINGS</md-button>
        </div>
    </div>
</div>-->