<div layout="column" layout-align="center center" ng-if="!isLoading && infoMessage" style="margin-top: {{windowCenter}}px;">
	<span class="feed-info-message">{{infoMessage}}</span>
</div>

<div class="md-padding" layout="row" layout-align="center center">
	<div class="loading-indicator" layout="column" layout-align="end center" ng-if="isLoading">
		<md-progress-circular md-mode="indeterminate" md-diameter="50"></md-progress-circular>
	</div>
	<div flex="45" ng-if="!isLoading">
		<h1 layout="row" layout-align="center center">{{errorMessage}}</h1>
		<div ng-repeat="post in feed.posts">
			<post post="post"></post>
		</div>
		<div layout="column" layout-align="center center" ng-if="feed.hasMoreItems">
			<md-button ng-click="loadMorePosts()" ng-if="!isLoadingMorePosts">Load More</md-button>
			<md-progress-circular md-mode="indeterminate" ng-if="isLoadingMorePosts"></md-progress-circular>
		</div>
	</div>
	<md-fab-speed-dial class="md-fab-bottom-right" ng-click="showCreatePostDialog($event)" ng-if="isAuthenticated">
		<md-fab-trigger>
			<md-button aria-label="create post" class="md-fab" md-colors="{background: 'blue'}">
				<md-icon>add_to_photos</md-icon>
			</md-button>
		</md-fab-trigger>
	</md-fab-speed-dial>
</div>

<div style="visibility: hidden">
	<div class="md-dialog-container" id="loadingDialog">
		<md-dialog aria-label="loading-indicator" layout-padding>
			<div layout="row" layout-align="center center">
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
			</div>
		</md-dialog>
	</div>
</div>