<div layout="column">
    <div style="padding: 40px 350px 75px 350px;">
        <user-info username="username"></user-info>
    </div>
    <div style="padding:0px 150px 0px 150px;">
        <md-grid-list md-cols-gt-md="3" md-row-height-gt-md="1:1">
            <md-grid-tile class="user-post" ng-repeat="post in feed.Posts" ng-mouseenter="showDetails(post)" ng-mouseleave="hideDetails(post)">
                <div class="post-thumbnail-container" layout="row" layout-align="space-around stretch" ng-if="post.showDetails">
                    <div class="post-labels" layout="row" layout-align="center center">
                        <span>{{post.LikesCount}}</span>
                        <md-icon class="post-labels">favorite</md-icon>
                    </div>
                    <div class="post-labels" layout="row" layout-align="center center">
                        <span>{{post.CommentsCount}}</span>
                        <md-icon class="post-labels">chat_bubble</md-icon>
                    </div>
                    <div class="post-thumbnail-black" layout="row" layout-align="center center"></div>
                </div>
                <img class="thumbnail" ng-src="{{post.Attachment.Url}}" alt="post.Attachment.Url">
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>

<div class="loading-indicator" layout="column" layout-align="end center" ng-if="isLoading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div class="md-padding" layout="column" layout-align="center center" ng-if="feed.HasMoreItems">
    <md-button ng-click="loadMorePosts()" ng-if="!isLoadingMorePosts">Load More</md-button>
    <md-progress-circular md-mode="indeterminate" ng-if="isLoadingMorePosts"></md-progress-circular>
</div>

<md-fab-speed-dial class="md-fab-bottom-right" ng-click="showCreatePostDialog($event)" ng-if="isAuthenticated">
    <md-fab-trigger>
        <md-button aria-label="create post" class="md-fab" md-colors="{background: 'blue'}">
            <md-icon>add_to_photos</md-icon>
        </md-button>
    </md-fab-trigger>
</md-fab-speed-dial>