<div class="content" layout="row" layout-align="center start">
    <form class="form" name="signInForm" ng-submit="vm.signIn(vm.account)" layout="column">
        <div class="md-padding" layout="row" layout-align="center center">
            <img src="assets/images/logo.png" alt="logo">
        </div>
        <div class="form-item" layout="row" layout-align="start center">
            <md-input-container class="md-block" md-no-float flex>
                <input ng-class="{'form-invalid' : vm.account.isUsernameValid == false, 'light' : vm.account.isUsernameValid == true}" type="text" name="username" placeholder="Username" ng-model="vm.account.username" aria-label="account">
            </md-input-container>
        </div>
        <div class="form-item" layout="row" layout-align="start center">
            <md-input-container class="md-block" md-no-float flex>
                <input ng-class="{'form-invalid' : vm.account.isPasswordValid == false, 'light' : vm.account.isPasswordValid == true}" type="password" name="password" placeholder="Enter your password" ng-model="vm.account.password" aria-label="account">
            </md-input-container>
        </div>
        <md-checkbox ng-model="vm.account.remember">Remember me?</md-checkbox>
        <div class="row">
            <md-button class="md-raised md-primary fill" ng-disabled="vm.isLoading">{{ vm.isLoading ? 'Loading' : 'Sign In' }}</md-button>
            <md-divider class="row"></md-divider>
            <md-button class="md-raised button-facebook fill">Login with Facebook</md-button>
        </div>
    </form>
</div>