<md-autocomplete flex md-selected-item="selectedItem" md-search-text-change="searchTextChange(searchText)" md-search-text="searchText"
    md-selected-item-change="selectedItemChange(user)" md-items="user in querySearch(searchText)" md-item-text="user.display" md-min-length="0"
    placeholder="Search..." md-input-minlength="2">
    <md-item-template>
        <span md-highlight-text="searchText" md-highlight-flags="^i">{{user.Username}}</span>
    </md-item-template>
    <md-not-found>
        <span>
            No users matching '{{searchText}}' were found
        </span>
    </md-not-found>
</md-autocomplete>