md-content {
    height: calc(100vh);
}

body {
    background: white;
}

md-fab-speed-dial.md-fab-bottom-right {
    top: auto;
    right: 35px;
    bottom: 35px;
    left: auto;
    position: fixed;
}

md-input-container {
    padding-bottom: 0px;
    margin: 0;
}

.fill {
    width: 100%;
}

.md-input-focused {
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}

.link-primary,
.link-primary:visited {
    color: #0088CC;
    text-decoration: none;
}

.link-primary:hover {
    color: #00aaff;
    text-decoration: none;
}

.footer {
    height: 70px;
    background-color: white;
    border-top: 1px solid #efefef;
}

.primary-nav {
    height: inherit;
    line-height: inherit;
    background-color: transparent;
}

.header-toolbar {
    background-color: white;
    border-bottom: 1px;
    border-color: black;
    color: white;
}

.header-toolbar.md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
    background-color: white;
    color: black;
    border-bottom: 1px solid #efefef;
    height: 75px;
    min-height: 75px;
}

.comment-input-container {
    padding: 20px 0px 0px 10px;
}

.comment-box.md-input {
    border-style: none;
    font-weight: lighter;
}

.caption {
    padding: 0px 10px 5px 10px;
}

.comments {
    padding: 5px 10px 10px 10px;
}

.link-button {
    color: #999;
    padding-bottom: 10px;
}

.comment {
    margin-bottom: 10px;
}

.comment-from {
    font-size: 14px;
    font-weight: bold;
}

.comment-text {
    font-size: 14px;
}

.search-box.md-input {
    border-style: none;
    font-weight: lighter;
}

.input-box.md-input {
    border: 1px solid #d8d8d8;
}

.md-toolbar-tools {
    height: 75px;
    max-height: 75px;
}

.logo-text {
    font-weight: lighter;
    font-size: 24px;
}

.content-header {
    font-size: 24px;
    font-weight: lighter;
}

.liked {
    color: red;
}

.show-comments-link {
    padding: 10px;
    color: #999;
}

.loading-indicator {
    height: 275px;
}

.posts {
    margin-top: 25px;
}

.post {
    margin: 16px 25px 50px 25px;
    border: 1px solid #efefef;
    background-color: white;
    border-radius: 2px;
}

.post-header {
    height: 75px;
    padding: 10px;
}

.post-comments {
    padding: 10px;
}

.avatar {
    height: 45px;
    width: 45px;
    border-radius: 90px 90px 90px 90px;
    object-fit: cover;
    overflow: hidden;
}

.avatar-big {
    height: 85px;
    width: 85px;
    border-radius: 90px 90px 90px 90px;
    object-fit: cover;
    overflow: hidden;
}

.post-header>.details {
    padding-left: 10px;
}

.post-header>.details>.name {
    font-size: 15px;
}

.post-header>.details>.date {
    font-weight: lighter;
    font-size: 14px;
}

.post-content {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.post-content img {
    width: 100%;
    height: 100%;
}

.post-footer {
    padding: 0px 10px 0px 10px;
}

.post-overlay {
    background: black;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.row {
    margin: 25px 0px 25px 0px;
}

.divider-padding {
    margin: 5px 10px 0px 10px;
}

.title-divider {
    margin: 25px 0px 25px 0px;
}

.post-box {
    padding-left: 10px;
    height: 70px;
}

.post-box-image>img {
    height: 50px;
    width: 50px;
}

.post-box>md-block md-input-has-placeholder {
    margin-top: 30px;
}

.text-area.md-input {
    border-style: none;
    padding: 0px 10px 0px 10px;
    background-color: white;
    height: 40px;
    border: 1px solid #d8d8d8;
}

.profile-info-bar {
    height: 275px;
}

.user-info-bar {
    height: 175px;
    padding-top: 25px;
    max-width: 650px;
    width: 650px;
    margin: 25px 0px 40px 0px;
}

.user-bar-image {
    width: 150px;
    height: 150px;
    border: 1px solid #d8d8d8;
    border-radius: 90px 90px 90px 90px;
    object-fit: cover;
    overflow: hidden;
}

.profile-image {
    position: absolute;
}

.counters {
    padding-top: 10px;
}

.thumbnail {
    width: 300px;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
}

.navbar-image {
    height: 35px;
    width: 35px;
    border-radius: 90px 90px 90px 90px;
    object-fit: cover;
    overflow: hidden;
}

.navbar-username {
    padding-right: 10px;
}

.post-profile-image {
    height: 40px;
    width: 40px;
    border-radius: 90px 90px 90px 90px;
    object-fit: cover;
    overflow: hidden;
    /*position: absolute;*/
}

.post-profile-thumbnail {
    height: 65px;
    width: 65px;
    border-radius: 90px 90px 90px 90px;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
}

.post-thumbnail-container {
    width: 300px;
    height: 300px;
    position: absolute;
    color: white;
}

.post-thumbnail-black {
    width: 300px;
    height: 300px;
    background-color: black;
    position: absolute;
    opacity: 0.5;
    z-index: 1;
}

.post-likes {
    height: 35px;
    padding: 15px 10px 0px 10px;
}

.post-labels {
    z-index: 2;
    color: white;
    padding: 0px 0px 0px 10px;
}

.user-post {
    cursor: pointer;
}

.error {
    text-align: center;
    margin: 25px 0px 0px 0px;
    color: #f44336;
}

.authentication-form-actions {
    height: 75px;
}

md-autocomplete-wrap {
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    box-shadow: none !important;
    background-color: #fafafa;
}

md-virtual-repeat-container.md-autocomplete-suggestions-container {
    border-style: solid;
    border-color: #d8d8d8;
    border-width: 0px 1px 1px 1px;
    box-shadow: none !important;
}

.button-bordered {
    font-size: 12px;
    padding: 5px;
    border: 1px solid rgb(33, 150, 243);
    color: rgb(33, 150, 243);
    min-height: 25px;
    line-height: 20px;
    font-weight: normal;
}

.button-bordered:hover {
    border: 1px solid #4CAF50;
    color: #4CAF50;
}

.button-bordered.green {
    border: 1px solid #43A047;
    color: #43A047;
}

.button-bordered.orange {
    border: 1px solid orange;
    color: orange;
}

.button-bordered.green:hover {
    border: 1px solid red;
    color: red;
}

.button-like {
    font-size: 30px;
    cursor: pointer;
    border-style: none;
}

.md-button.button-facebook.md-raised {
    padding: 5px 0px 5px 0px;
    background-color: #3b5998;
    color: white;
}

.md-button.button-facebook.md-raised:not([disabled]):hover {
    background-color: #2b4273;
}

.md-button {
    margin: 0px !important;
}

.md-button.md-primary {
    padding: 5px 0px 5px 0px;
    color: #2196f3;
}

.md-button.md-primary[disabled] {
    color: gray;
}

.md-button.md-primary.md-raised {
    padding: 5px 0px 5px 0px;
    background-color: #2196f3;
    color: white;
}

.md-button.md-primary.md-raised[disabled] {
    background-color: gray;
}

.md-button.md-primary.md-raised:not([disabled]):hover {
    background-color: #0074d0;
}

.md-button.md-default-theme.md-primary:not([disabled]) md-icon,
.md-button.md-primary:not([disabled]) md-icon {
    color: #2196f3;
}

md-checkbox.md-default-theme.md-checked .md-icon,
md-checkbox.md-checked .md-icon {
    background-color: #0074d0;
}

md-checkbox {
    margin-bottom: 0px;
}

.divider {
    position: absolute;
    left: 50%;
    top: 10%;
    bottom: 10%;
    border-left: 1px solid #d8d8d8;
}

.vertical-divider {
    border-right: 1px solid #d8d8d8;
    height: 50%;
    min-height: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.feed-info-message {
    font-size: 34px;
    font-weight: lighter;
    /*color: #505050;*/
}

.feed-content {
    width: 1000px;
    padding-bottom: 50px;
}


/*.md-whiteframe-z1 {
    border: none;
}*/

.navbar-button.md-icon-button.md-button.md-ink-ripple {
    height: 60px;
    width: 75px;
}

.material-icons.icon,
.material-label {
    font-size: 2em;
    /*line-height: 1;*/
    display: block;
    color: #424242;
    margin: .5em 0
}

.material-icons.mdl-badge[data-badge]::after,
.material-label.mdl-badge[data-badge]::after {
    font-size: .3em;
    /*width: 2em;
  height: 2em;*/
}

#uploadInput {
    display: none;
}

.material-icons.mdl-badge[data-badge]::after {
    top: -1em;
    right: -1em;
}

.md-display-1 {
    font-weight: lighter;
}

md-progress-linear {
    height: 2px;
}

.md-progress-linear.md-default-theme .md-container,
md-progress-linear .md-container {
    background-color: transparent;
    height: 2px;
}

.md-progress-linear.md-default-theme .md-bar,
md-progress-linear .md-bar {
    background-color: rgb(33, 150, 243);
    height: 2px;
}

md-progress-linear .md-container .md-bar {
    height: 2px;
}

md-progress-circular.md-primary path {
    stroke: #2196f3;
}

md-progress-circular.white path {
    stroke: white;
}

.md-input.light {
    background-color: white;
    height: 40px;
    padding: 0px 10px 0px 10px;
    border-radius: 2px;
    font-size: 17px;
    font-weight: lighter;
}

.md-input.light {
    background-color: white;
    border: 1px solid #d8d8d8;
    height: 40px;
    padding: 0px 10px 0px 10px;
    border-radius: 2px;
    font-size: 17px;
    font-weight: lighter;
}

.md-input.form-invalid {
    background-color: white;
    border: 1px solid red;
    height: 40px;
    padding: 0px 10px 0px 10px;
    border-radius: 2px;
    font-size: 17px;
    font-weight: lighter;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input.light {
    border: 1px solid #2196f3;
    padding: 0px 10px 0px 10px;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input.form-invalid {
    border: 1px solid red;
    padding: 0px 10px 0px 10px;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input.search-bar {
    border: none;
    padding: 0px 10px 0px 10px;
}

.form {
    width: 25%;
    min-width: 300px;
}

.form-item>md-input-container .md-errors-spacer {
    min-height: 0px !important;
}

md-input-container.text-block .md-errors-spacer {
    min-height: 0px !important;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input.comment-box {
    border: none;
    padding: 0px 2px 0px 2px;
}

.title-block {
    padding: 25px 0px 25px 0px;
}

.content {
    min-height: calc(100vh - 147px);
}

.content>.content-message {
    margin-top: 10%;
}

.content-error {
    height: 200px;
    width: 750px;
    border: 1px solid #efefef;
    background: white;
}

.form-item {
    padding-bottom: 25px;
}

.form-item-label {
    padding-right: 25px;
    text-align: right;
}

.hashtag {
    color: #003569;
}

.hashtag:link {
    color: #003569;
}

.hashtag:visited {
    color: #003569;
}

.md-body-2 {
    font-weight: bold;
}

.md-headline {
    font-weight: lighter;
}

.description {
    font-size: 14px;
    font-weight: 400;
    color: #808080;
}