body {
    overflow: hidden;
}

md-input-container {
    margin: 0;
}

a:link {
    text-decoration: none;
    color: rgb(33, 150, 243);
    font-weight: lighter;
}

a:hover {
    cursor: pointer;
}

.sidebar {
    margin: 10px 10px 10px 10px;
}

.footer {
    height: 70px;
    background-color: white;
    border-top: 1px solid #dbdbdb;
}

.primary-nav {
    height: inherit;
    line-height: inherit;
    background-color: transparent;
}

.header-toolbar {
    background-color: white;
    border-bottom: 1px;
    border-color: black;
    color: white;
}

.header-toolbar.md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: white;
    color: black;
    border-bottom: 1px solid #dbdbdb;
    height: 75px;
    min-height: 75px;
}

.comment-box.md-input {
    border-style: none;
}

.md-toolbar-tools {
    height: 75px;
    max-height: 75px;
}

.logo-text {
    font-weight: lighter;
    font-size: 24px;
}

.content-header {
    font-size: 24px;
    font-weight: lighter;
}

.likes {
    height: 35px;
}

.caption {
    min-height: 35px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #dbdbdb;
}

.liked {
    color: red;
}
