md-content {
  height: calc(100vh);
}

md-fab-speed-dial.md-fab-bottom-right {
    top: auto;
    right: 35px;
    bottom: 35px;
    left: auto;
    position: fixed;
}

md-input-container {
    margin: 0;
}

a:link {
    text-decoration: none;
    color: black;
    /*font-weight: lighter;*/
}


a:visited {
    text-decoration: none;
    color: black;
    /*font-weight: lighter;*/
}

a:hover {
    cursor: pointer;
}

.footer {
    height: 70px;
    background-color: white;
    border-top: 1px solid #dbdbdb;
}

.primary-nav {
    height: inherit;
    line-height: inherit;
    background-color: transparent;
}

.header-toolbar {
    background-color: white;
    border-bottom: 1px;
    border-color: black;
    color: white;
}

.header-toolbar.md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: white;
    color: black;
    border-bottom: 1px solid #dbdbdb;
    height: 75px;
    min-height: 75px;
}

.comment-box.md-input {
    border-style: none;
}

.md-toolbar-tools {
    height: 75px;
    max-height: 75px;
}

.logo-text {
    font-weight: lighter;
    font-size: 24px;
}

.content-header {
    font-size: 24px;
    font-weight: lighter;
}

.likes {
    height: 35px;
}

.caption {
    min-height: 35px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #dbdbdb;
}

.liked {
    color: red;
}

.show-comments-link {
    color: #999;
}

.loading-indicator {
    height: 275px;
}

.post-box {
    padding-left: 10px;
    height: 70px;
}

.post-box-image>img {
    height: 50px;
    width: 50px;
}

.post-box>md-block md-input-has-placeholder {
    margin-top: 30px;
}

.text-area.md-input {
    border-style: none;
    /*border: 1px solid #dbdbdb;*/
    background-color: rgb(239, 240, 241);
}

.user-info-bar {
    height: 225px;
    background: white;
    border: 1px solid #dbdbdb;
}

.profile-info-bar {
    height: 275px;
}

.profile-image {
    position: absolute;
}