<div layout="row" style="padding: 25px 250px 25px 250px;">
    <div>
        <img src="https://krypapp.blob.core.windows.net/testblobcontainer/BodyPart_749d3c8b-0969-4eb3-92b0-6d5453996b5d" alt="image" style="width:500px;">
    </div>
    <div layout="column" style="width: 400px;">
        <div layout="row" layout-align="space-between center" style="padding: 0px 0px 0px 10px;">
            <span class="md-headline">nazarkryp</span>
            <md-button class="button-bordered">FOLLOW</md-button>
        </div>
    </div>
</div>