<div class="md-padding">
    <md-card ng-if="post.isCreating">
        <div layout="row" layout-align="center center">
            <img ng-src="{{post.attachment.url}}" class="md-card-image" alt="Post" style="filter: blur(5px);">
            <md-progress-circular class="md-warn" md-mode="indeterminate" style="position: absolute;" md-diameter="50"></md-progress-circular>
        </div>
    </md-card>
    <md-card ng-if="!post.isCreating">
        <md-card-header>
            <md-card-avatar>
                <a ui-sref="userfeed({username: post.user.username})">
                    <img class="post-profile-image" ng-src="{{post.user.imageUri}}" />
                </a>
            </md-card-avatar>
            <md-card-header-text layout="row" layout-align="space-between center">
                <a ui-sref="userfeed({username: post.user.username})" class="md-title">{{post.user.username}}</a>
                <span class="md-subhead">{{post.created | difference}}</span>
            </md-card-header-text>
        </md-card-header>
        <img ng-src="{{post.attachment.url}}" class="md-card-image" alt="Washed Out">
        <md-card-content>
            <div layout="column" flex>
                <div class="likes">
                    <a class="md-body-2">{{post.likesCount}} likes</a>
                </div>
                <div ng-class="{'caption': isAuthenticated}">
                    <a ui-sref="userfeed({username: post.user.username})" class="md-body-2">{{post.user.username}}</a>
                    <span class="md-body-1" ng-bind-html="post.caption | content"></span>
                    <br/>
                    <a class="md-body-1" ng-if="post.commentsCount > 3 && post.commentsCount > post.comments.length">
                        <span class="show-comments-link" ng-click="viewMoreCommentsClick(post)">view all {{post.commentsCount}} comments</span>
                    </a>
                    <div ng-repeat="comment in post.comments">
                        <a class="md-body-2" ui-sref="userfeed({username: comment.from.username})">{{comment.from.username}}</a>
                        <span class="md-body-1" ng-bind-html="comment.text | content"></span>
                    </div>
                </div>
            </div>
            <div ng-if="isAuthenticated" style="height: 50px; padding: 0px 0px 10px 0px;">
                <div layout="row" layout-align="center stretch">
                    <div layout="row" layout-align="start start" style="padding-top: 15px;">
                        <md-button aria-label="Like" class="md-icon-button" ng-click="like(post)">
                            <md-icon ng-class="{'liked': post.userHasLiked}" style="font-size: 30px;">favorite</md-icon>
                        </md-button>
                    </div>
                    <div style="padding: 20px 0px 0px 10px;" flex>
                        <md-input-container class="md-block" md-no-float>
                            <input type="text" placeholder="Add comment" class="comment-box" ng-model="newComment.text" ng-keydown="postComment(newComment, post, $event)"
                            />
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="end center" style="padding-bottom: 5px;">
                        <md-menu>
                            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                                <md-icon style="font-size: 30px;">more_horiz</md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button ng-click="ctrl.redial($event)">
                                        <md-icon>file_download</md-icon>
                                        Download
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button>
                                        <md-icon>star_rate</md-icon>
                                        Add to favourites
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>