<!DOCTYPE html>
<html ng-app="blogapp">

<head>
	<title>Blog Application</title>
	<link href="assets/libs/css/angular-material.min.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" />
	<link href="assets/styles.css" rel="stylesheet" />
</head>

<body layout="column" ng-controller="IndexController">
	<md-toolbar class="header-toolbar" md-scroll-shrink>
		<div class="md-toolbar-tools">
			<div layout="row" flex>
				<div flex="25">
					<span class="logo-text" layout="row" layout-align="end end" ng-click="gotoFeedPage()">KryptoGram</span>
				</div>
				<div flex="40">

				</div>
				<div layout="row" layout-align="start start" flex="35">
					<md-button ng-if="false">nazarkryp@gmail.com</md-button>
					<md-button>Create account</md-button>
					<md-button class="md-raised" md-colors="{background: 'blue'}" ng-click="gotoSignInPage()">Sign In</md-button>
				</div>
			</div>
		</div>
	</md-toolbar>
	<hr/>
	<div ui-view></div>

	<footer>
		<div class="footer" layout="row" layout-align="center center">
			<span>Copyright © 2016 KrypApp</span>
		</div>
	</footer>

	<script src="assets/libs/js/angular.min.js"></script>
	<script src="assets/libs/js/angular-ui-router.min.js"></script>
	<script src="assets/libs/js/angular-material.min.js"></script>
	<script src="assets/libs/js/angular-aria.min.js"></script>
	<script src="assets/libs/js/angular-animate.min.js"></script>

	<script src="app/app.js"></script>
	<script src="app/components/feed/feed.controller.js"></script>
	<script src="app/components/index/index.controller.js"></script>
</body>

</html>