<!DOCTYPE html>
<html ng-app="blogapp">

<head ng-controller="TitleController">
	<title ng-bind="page.title | uppercase"></title>
	<link href="assets/libs/css/angular-material.min.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" />
	<link href="assets/styles.css" rel="stylesheet" />
</head>

<body layout="column" ng-controller="IndexController" ng-cloak>
	<md-content layout="column">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<div layout="row" layout-align="center stretch" flex>
					<div layout="row" layout-align="end center" flex="25">
						<a class="logo-text" layout="row" layout-align="end end" ng-click="gotoFeedPage()">photocloud</a>
						<!--<md-divider class="vertical-divider"></md-divider>-->
					</div>
					<!--<div layout="row" layout-align="end center" flex="40" style="padding-top: 25px;">
						<md-input-container class="md-block" md-no-float flex>
							<input class="search-box" type="text" placeholder="Search" ng-model="searchQuery">
						</md-input-container>
					</div>-->
					<div layout="row" layout-align="center center" flex style="padding: 0px 0px 0px 0px;">
						<search ng-if="isAuthenticated" flex="85" style="max-width: 600px;"></search>
					</div>
					<div layout="row" layout-align="start center" flex="25" ng-if="isAuthenticated">
						<!--<md-button class="md-icon-button">
							<md-icon style="font-weight: 2dp;color:black;">person_outline</md-icon>
						</md-button>-->
						<md-menu>
							<md-button class="md-icon-button navbar-button" aria-label="Open interactions menu" ng-click="$mdOpenMenu($event)">
								<div layout="row" layout-align="center center">
									<!--<span class="navbar-username">{{user.username}}</span>-->
									<img class="navbar-image" ng-src="{{user.imageUri}}" alt="profile image">
								</div>
							</md-button>
							<md-menu-content width="3">
								<md-menu-item>
									<md-button ng-click="gotoProfile()">
										<md-icon>home</md-icon>
										Profile
									</md-button>
								</md-menu-item>
								<md-menu-divider></md-menu-divider>
								<md-menu-item>
									<md-button ng-click="signOut()">
										<md-icon>exit_to_app</md-icon>
										Sign out
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
					<div layout="row" layout-align="start start" flex="30" ng-if="!isAuthenticated">
						<md-menu ng-if="isAuthenticated">
							<md-button aria-label="Open interactions menu" ng-click="$mdOpenMenu($event)">{{username}}</md-button>
							<md-menu-content width="4">
								<md-menu-item>
									<md-button>
										<md-icon>home</md-icon>
										Profile
									</md-button>
								</md-menu-item>
								<md-menu-divider></md-menu-divider>
								<md-menu-item>
									<md-button ng-click="signOut()">
										<md-icon>exit_to_app</md-icon>
										Sign out
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
						<md-button ng-click="gotoSignUpPage()">Create account</md-button>
						<md-button class="md-raised" md-colors="{background: 'blue'}" ng-click="gotoSignInPage()">Sign In</md-button>
					</div>
				</div>
			</div>
		</md-toolbar>
		<main>
			<ui-view></ui-view>
		</main>
		<span flex></span>
		<footer>
			<div class="footer" layout="row" layout-align="center center">
				<span>Copyright © 2016 KrypApp</span>
			</div>
		</footer>
	</md-content>

	<script src="assets/libs/js/angular.min.js"></script>
	<script src="assets/libs/js/angular-ui-router.min.js"></script>
	<script src="assets/libs/js/angular-material.min.js"></script>
	<script src="assets/libs/js/angular-aria.min.js"></script>
	<script src="assets/libs/js/angular-animate.min.js"></script>
	<script src="assets/libs/js/angular-messages.min.js"></script>
	<script src="assets/libs/js/Dropbox-sdk.min.js"></script>

	<script src="app/app.js"></script>
	<script src="app/app.config.js"></script>
	<script src="app/app.run.js"></script>

	<script src="app/components/title/title.controller.js"></script>
	<script src="app/components/userinfo/user-info.component.js"></script>
	<script src="app/components/userinfo/user-info.controller.js"></script>

	<script src="app/components/post/post.component.js"></script>
	<script src="app/components/post/post.controller.js"></script>

	<script src="app/components/post-details/dialogs/post-details-dialog.controller.js"></script>
	<script src="app/components/post-details/post-details.controller.js"></script>

	<script src="app/components/userinfo/user.service.js"></script>
	<script src="app/components/feed/feed.controller.js"></script>
	<script src="app/components/feed/posts.service.js"></script>
	<script src="app/components/signin/signin.controller.js"></script>
	<script src="app/components/signin/signin.service.js"></script>
	<script src="app/components/signup/signup.controller.js"></script>
	<script src="app/components/signup/signup.service.js"></script>
	<script src="app/components/upload/create-post.controller.js"></script>
	<script src="app/components/index/index.controller.js"></script>
	<script src="app/components/search/search.controller.js"></script>
	<script src="app/components/search/search.component.js"></script>
	<script src="app/components/search/search.service.js"></script>
	<script src="app/components/users/users.controller.js"></script>
	<script src="app/components/users/users.service.js"></script>
	<script src="app/components/errors/error.service.js"></script>
	<script src="app/components/errors/error.controller.js"></script>

	<script src="app/shared/directives/file-model.directive.js"></script>
	<script src="app/shared/services/http.service.js"></script>
	<script src="app/shared/services/upload.service.js"></script>
	<script src="app/shared/infrastructure/const.service.js"></script>
	<script src="app/shared/infrastructure/auth.service.js"></script>
	<script src="app/shared/infrastructure/authinterpretator.service.js"></script>
	<script src="app/shared/infrastructure/page.service.js"></script>
	<script src="app/shared/filters/date.filter.js"></script>
	<script src="app/shared/filters/relationships.filter.js"></script>
</body>

</html>