<md-dialog aria-label="Create Post" flex="50">
    <form ng-submit="createPost(post)" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create post</h2>
                <span flex></span>
                <md-button aria-label="menu" class="md-icon-button md-primary" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column">
                    <div layout="column">
                        <div style="padding: 5px;">
                            <div layout="column">
                                <span class="md-subhead" style="padding: 5px;">To create new post pick up image from your computer or add link to it</span>
                                <md-button md-colors="{background : 'red'}" ng-click="browse()" flex>Upload file</md-button>
                                <input id="uploadInput" file-model="browsed.file" type="file" aria-label class="md-input" ng-hide="true" />
                            </div>
                        </div>
                        <span class="md-padding" flex></span>
                        <div style="padding: 10px;" layout="row" layout-align="stretch stretch">
                            <md-input-container md-no-float flex>
                                <label>External resource url</label>
                                <input type="text" placeholder="http://example.com/image.jpg" class="comment-box text-area" style="font-weight: lighter; border: 1px solid #dbdbdb;"
                                    ng-model="external.Url" />
                            </md-input-container>
                        </div>
                    </div>
                    <div style="padding: 10px;" ng-if="preview.Url">
                        <img style="margin: auto; max-width: 100%;width:100%;" alt="Image" ng-src="{{preview.Url}}">
                    </div>
                    <div style="padding: 10px;" flex>
                        <md-input-container class="md-block">
                            <label>Caption</label>
                            <textarea placeholder="Write description to your image" class="comment-box text-area" style="padding: 3px; border: 1px solid #dbdbdb;"
                                name="description" rows="3" ng-model="post.Caption"></textarea>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button type="submit" md-colors="{background: 'blue'}" ng-if="preview.Url">
                Post
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>