<div layout="column">
    <div layout="row" layout-align="center center">
        <user-info username="username"></user-info>
    </div>
    <div layout="row" layout-align="center center">
        <div class="feed-content">
            <div layout="row" layout-align="center center" ng-if="error">
                <div class="authentication-error" layout="row" layout-align="center center" ng-if="error">
                    <p class="md-subhead" md-colors="{color: 'blue'}">{{error.error.message}}</p>
                </div>
            </div>
            <!--<div style="height:200px;background:white;border: 1px solid #dbdbdb;">
                <span class="md-headline"></span>
            </div>-->
            <md-grid-list md-cols-gt-md="3" md-row-height-gt-md="1:1" layout-align="center center">
                <md-grid-tile class="user-post" ng-repeat="post in feed.posts" ng-mouseenter="showDetails(post)" ng-mouseleave="hideDetails(post)"
                    ng-click="showPostDetailsDialog($event, post)" style="width: 300px; height: 300px;">
                    <div class="post-thumbnail-container" layout="row" layout-align="space-around stretch" ng-if="post.showDetails">
                        <div class="post-labels" layout="row" layout-align="center center">
                            <span>{{post.likesCount}}</span>
                            <md-icon class="post-labels">favorite</md-icon>
                        </div>
                        <div class="post-labels" layout="row" layout-align="center center">
                            <span>{{post.commentsCount}}</span>
                            <md-icon class="post-labels">chat_bubble</md-icon>
                        </div>
                        <div class="post-thumbnail-black" layout="row" layout-align="center center"></div>
                    </div>
                    <img class="thumbnail" ng-src="{{post.attachment.url}}" alt="post.attachment.url">
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>
</div>

<div class="loading-indicator" layout="column" layout-align="end center" ng-if="isLoading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div class="md-padding" layout="column" layout-align="center center" ng-if="feed.hasMoreItems">
    <md-button ng-click="loadMorePosts()" ng-if="!isLoadingMorePosts">Load More</md-button>
    <md-progress-circular md-mode="indeterminate" ng-if="isLoadingMorePosts"></md-progress-circular>
</div>

<md-fab-speed-dial class="md-fab-bottom-right" ng-click="showCreatePostDialog($event)" ng-if="isAuthenticated">
    <md-fab-trigger>
        <md-button aria-label="create post" class="md-fab" md-colors="{background: 'blue'}">
            <md-icon>add_to_photos</md-icon>
        </md-button>
    </md-fab-trigger>
</md-fab-speed-dial>